# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variable files
*.env
.env.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/
.vscode

# OS-specific files
.DS_Store
Thumbs.db