<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Test app</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et laborum, dolor volupt
        ates, officia quisquam perspiciatis odio, placeat nam quasi nihil nulla minus?
         Laudantium nemo aspernatur et dolores ex dolorem aliquid.</p>
</body>
</html>